html {
  font-family: Georgia, serif;
  line-height: 1.5;
  background-color: #f2f1ed;
}

h1,h2 {
  text-transform: uppercase;
  color: #5d8432
}

figcaption, p {
  font-style: italic;
  text-align: center;
}

figure {
  width: 100%
}
